{% extends 'testapp/base.html' %}
  {%block body %}<br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome To Learn&Exam</h1>
      <p class="lead">Hey program lovers, here you have an oportunity to learn new things and give Exams...</p>
      <h2>Rules</h2>
      <ul>
        <li>Rule-1 : You must have to sign-in to go forward</li>
        <li>Rule-2 : If your learning will finish then you have to give exam compulsory</li>
        <li>Rule-3 : Certificate will be available after you give the exam</li>
        <li>Rule-4 : further info we'll provide soon...</li><br><br>
        <h5><center><b><u>Thank you for being with us, we'll provide you best facilities as possible</u></b></center></h5>
      </ul>
    </div>
  </div>

  {% endblock %}
